<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hui.mapper.UserMapper">

    <select id="findAccountByName" resultType="Account" parameterType="String">
      select * from account where username = #{value}
    </select>

    <select id="findRoleByAccountName" resultType="Role" parameterType="String">
        select * from role where accountId = (select id from account where username = #{value})
    </select>

    <select id="findAccountPerById" parameterType="Integer" resultType="String">
        select accountPerm from accountperm where accountId = #{value}
    </select>

</mapper>
